mat-expansion-panel {
    border: 1px solid #e8e8e8;
    border-radius: 0;
    box-shadow: none !important;
}

input {
    display: none;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #1876d2;
}