<div class="asset-upload">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Asset Upload
            </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-raised-button 
            color="primary" 
            type="button" 
            (click)="fileInput.click()">
            <span>Upload</span>
            <input #fileInput 
                type="file" 
                (change)="onFileInput($event)" 
                style="display:none;" 
                name="filename"/>
        </button>
    </mat-expansion-panel>
    <!-- <div *ngIf="(adAuthoringObs | async) as adAuthoring">
        <img [src]="cardImageBase64" alt="image">
    </div> -->
</div>