<div class="asset-upload">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Asset Upload
            </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-raised-button 
            color="primary" 
            type="button" 
            (click)="fileInput.click()">
            <span>Upload</span>
            <input #fileInput 
                type="file" 
                (change)="onFileInput($event)" 
                style="display:none;" />
        </button>
    </mat-expansion-panel>
</div>