.toolbar {
    border-top: 1px solid #e0e0e0;
    bottom: 0;
    height: 60px;
    left: 0%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 100;
    background-color: white;
    padding-left: 10px;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #1876d2;
}

mat-expansion-panel {
    border: 1px solid #e8e8e8;
    border-bottom: none !important;
    border-radius: 0;
    box-shadow: none !important;
    margin: -20px;
    margin-left: 0px;
    width: 100%;   
}

mat-form-field {
    width: 100%;
}