<div class="ad-authoring">
    <br>

    <mat-form-field>
        <mat-label>Landing Page URL</mat-label>
        <input matInput type="text" #landingUrl placeholder="Landing Page URL"/>
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>Landing Page Type</mat-label>
        <input matInput type="text" #landingType placeholder="Landing Page Type"/>
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>Call to Action Text</mat-label>
        <!-- <mat-select #callToAction>
            <mat-option *ngFor="let text of texts" [value]="text.value" >
                {{text.value}}
            </mat-option>
        </mat-select> -->
        <select matNativeControl required #callToAction>
            <option *ngFor="let text of texts" [value]="text.value">{{text.value}}</option>
        </select>
    </mat-form-field>

    <br>
    
    <button (click)="addAdAuthoring(landingUrl.value, landingType.value, callToAction.value)">Generate AMPHTML</button>
</div>

<p *ngFor="let adAuthoring of adAuthoringObs | async">
    Landing Page URL: {{adAuthoring.landingUrl}} <br>
    Landing Page Type: {{adAuthoring.landingType}} <br>
    Call to Action Text: {{adAuthoring.callToAction}}
</p>