<div class="ad-authoring">
    <br>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Text
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
            <mat-label>Landing Page URL</mat-label>
            <input matInput type="text" #landingUrl placeholder="Landing Page URL" (keyup)="addLandingUrl(landingUrl.value)"/>
        </mat-form-field>
    
        <br>
    
        <mat-form-field>
            <mat-label>Landing Page Type</mat-label>
            <input matInput type="text" #landingType placeholder="Landing Page Type" (keyup)="addLandingType(landingType.value)"/>
        </mat-form-field>

        <br>

        <mat-form-field>
            <mat-label>Call to Action Text</mat-label>
            <mat-select #callToAction>
                <mat-option *ngFor="let callToActionValue of callToActionValues" [value]="CallToActionMapping[callToActionValue]" (click)="addCallToAction(callToAction.value)">
                    {{CallToActionMapping[callToActionValue]}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-expansion-panel>
    
    <br>

</div>

<div *ngIf="(adAuthoringObs | async) as adAuthoring">
    Landing Page URL: {{adAuthoring.landingUrl}} <br>
    Landing Page Type: {{adAuthoring.landingType}} <br>
    Call to Action Text: {{adAuthoring.callToAction}}
</div>

<div class="toolbar">
    <!-- TODO: Create new component for this button -->
    <button mat-raised-button color="primary">Generate AMPHTML</button>
</div>