<div class="ad-authoring">
    <form>
        <mat-form-field>
            <mat-label>Landing Page URL</mat-label>
            <input type="text" #landingUrl placeholder="Landing Page URL"/>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Landing Page Type</mat-label>
            <input type="text" #landingType placeholder="Landing Page Type"/>
        </mat-form-field>
    </form>
    
    <br>
    <select #callToAction>
        <option value="Shop Now">Shop Now</option>
        <option value="Apply Now">Apply Now</option>
        <option value="Book Now">Book Now</option>
    </select>
    <br>
    <button (click)="addAdAuthoring(landingUrl.value, landingType.value, callToAction.value)">Generate AMPHTML</button>
</div>

<p *ngFor="let adAuthoring of adAuthoringObs | async">
    Landing Page URL: {{adAuthoring.landingUrl}} <br>
    Landing Page Type: {{adAuthoring.landingType}} <br>
    Call to Action Text: {{adAuthoring.callToAction}}
</p>