.toolbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    left: 1%;
}

// div.ad-authoring {
//     width: 30%;
//     right: 0px;
//     position: absolute;
// }