.toolbar {
    align-items: center;
    background-color: #1976d2;
    color: white;
    display: flex;
    font-weight: 600;
    height: 60px;
    left: 0;
    // position: absolute;
    right: 0;
    top: 0;
}